* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.headingPri {
  font-size: 30pt;
  font-weight: bold;
}
.headingSec {
  font-size: 24pt;
  font-weight: bold;
}
.sectionHeading {
  font-size: 18pt;
  font-weight: bold;
}
.subTitle {
  font-size: 18pt;
}
.cardTitle {
  font-size: 15pt;
  font-weight: bold;
}
.cardCopy {
  font-size: 15pt;
  font-weight: lighter;
}
.bodyCopy {
  font-size: 14pt;
  font-weight: lighter;
}
.timeStamp {
  font-size: 12pt;
  font-weight: lighter;
}
