* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#react-burger-menu-btn {
  width: 25px !important;
  height: 25px !important;
  top: 24px !important;
  right: 47px !important;
  left: auto !important;
}
.bm-burger-bars {
  display: none;
}
